.movie-hero {
  position: relative;
  background-position: 40% center;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  min-height: 400px;

}

.backdrop-overlay {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(to right, rgba(9, 9, 9, 0.8), rgba(9, 7, 7, 0.4));
  
  align-items: center;
  min-height: 100%;
}

.poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.movie-info {
  flex: 1;
}

.release-date,
.tagline,
.overview {
  margin: 0.5rem 0;
}

.genre-badge {
  display: inline-block;
  background-color: #01b4e4;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  color: white;
}
