<div class="movie-card">
  <div class="poster-container">
    <img
      *ngIf="movie.poster_path"
      class="poster"
      [src]="'https://image.tmdb.org/t/p/w185' + movie.poster_path"
      [alt]="movie.title"
    />

    <div class="rating">
      <div class="rating-circle">
        {{ movie.vote_average | number: "1.1-1" }}
      </div>
    </div>
  </div>

  <div class="movie-info">
    <p class="title">{{ movie.title }}</p>
    <p class="release-date">{{ movie.release_date }}</p>
  </div>
</div>
