<div class="card">
  <div class="poster-wrap">
    <img
      *ngIf="movie.poster_path"
      class="poster"
      [src]="'https://image.tmdb.org/t/p/w342' + movie.poster_path"
      [alt]="movie.title" />

    
  </div>
  <div class="info">
    <h3 class="title">{{ movie.title }}</h3>
    <p class="meta">
      <span class="year">{{ movie.release_date | date:'yyyy' }}</span>
      ·
      <span class="lang">{{ movie.original_language?.toUpperCase() }}</span>
    </p>

    <p class="overview">
      {{ (movie.overview || '') | wordLimit:200 }}
    </p>
  </div>
</div>
